@font-face {
  font-family: "TT Hoves";
  src: local("TT Hoves Regular"), local("TTHoves-Regular"), url("/fonts/TTHoves-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "TT Hoves";
  src: local("TT Hoves Medium"), local("TTHoves-Medium"), url("/fonts/TTHoves-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "TT Hoves";
  src: local("TT Hoves Light"), local("TTHoves-Light"), url("/fonts/TTHoves-Light.woff");
  font-weight: 300;
}
@font-face {
  font-family: "TT Hoves";
  src: local("TT Hoves Bold"), local("TTHoves-Bold"), url("/fonts/TTHoves-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("/fonts/sf-pro-display-black.otf");
  font-weight: 900;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: "TT Hoves";
  font-weight: 400;
  line-height: 1;
  background-color: #FFFFFF;
  color: #000000;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  margin-bottom: 6rem;
}
@media screen and (max-height: 865px) {
  section {
    max-height: 90vh;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 14rem;
  width: 100%;
  padding: 1.8rem 0;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  background-color: #FFFFFF;
  text-transform: uppercase;
}
.btn img {
  margin-left: 0.8rem;
}

.btn--dark {
  color: #FFFFFF;
  background-color: #2C2C2C;
}

.title {
  font-size: 4rem;
  font-weight: 300;
  color: #BDBDBD;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 5;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-height: 865px) {
  .header__container {
    height: 10vh;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  margin: 0 6rem;
}
.menu__item--active a::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #000000;
  width: 100%;
  height: 1px;
  top: -4px;
}
.menu__item--active a::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #000000;
  width: 100%;
  height: 1px;
  top: 1.4em;
}
.menu a {
  position: relative;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.menu a:hover::before, .menu a:focus::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #000000;
  width: 100%;
  height: 1px;
  top: -4px;
}
.menu a:hover::after, .menu a:focus::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #000000;
  width: 100%;
  height: 1px;
  top: 1.4em;
}

.hero {
  margin-top: 6rem;
}
@media screen and (max-height: 865px) {
  .hero {
    margin-top: 10vh;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.hero .hero__first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10%;
}
.hero .hero__second-block {
  position: relative;
}
.hero .hero__second-block .img-block img {
  height: 90vh;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.hero .hero__second-block a {
  position: absolute;
  bottom: 0;
}

.hero__title {
  text-transform: uppercase;
}
.hero__title span {
  font-weight: 700;
  color: #000000;
}

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__btns button {
  width: 53px;
  height: 53px;
  border: 1px solid #F3F3F3;
}
.hero__btns button:first-child {
  margin-right: 1rem;
}

.slides {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.slides li {
  font-size: 1.35rem;
  color: #BDBDBD;
}
.slides__current::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #BDBDBD;
  width: 40px;
  height: 1px;
  top: 10px;
  left: 1.5rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.company__container {
  position: relative;
  background-color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.company__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4rem;
  gap: 2rem;
}
.company__img-block .first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.company__img-block .first-block .img-block:last-child {
  position: absolute;
  bottom: -2rem;
}
.company__img-block .second-block {
  margin-top: 2rem;
}

.company__text {
  font-weight: 300;
  line-height: 1.56;
  margin: 1.5rem 0;
}

.tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  margin-top: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.tasks__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.tasks__list li:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}
.tasks__list li:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.tasks__list li .tasks__number {
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  font-size: 12.5rem;
  font-weight: 900;
  color: #F3F3F3;
  height: 100%;
}
.tasks__list li .text {
  font-size: 1.35rem;
  line-height: 1.6;
}

.projects__list {
  position: relative;
  margin: 4rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.projects__item {
  position: relative;
}
.projects__item .img-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects__item .hover-block {
  display: none;
  position: absolute;
  top: 0;
  padding: 2rem 8%;
  background-color: #2C2C2C;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.projects__item .hover-block h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 0.2rem;
}
.projects__item .hover-block a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}
.projects__item:hover .hover-block {
  display: block;
}

.projects__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.contacts__content .img-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.contacts__form p {
  padding-left: 2rem;
  font-size: 0.85rem;
  letter-spacing: 0.03em;
}

.input-wrapper, .textarea-wrapper {
  display: inline-block;
  position: relative;
}
.input-wrapper input, .textarea-wrapper input {
  height: 3rem;
  padding: 0 1.5rem;
}
.input-wrapper textarea, .textarea-wrapper textarea {
  position: relative;
  padding: 1rem 1.5rem;
  height: 147px;
}
.input-wrapper input, .input-wrapper textarea, .textarea-wrapper input, .textarea-wrapper textarea {
  width: 100%;
  background-color: #F3F3F3;
  border: none;
  font-size: 0.85rem;
  letter-spacing: 0.04em;
  color: #8D8D8D;
}
.input-wrapper .placeholder, .textarea-wrapper .placeholder {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: 10;
  font-size: 0.85rem;
  letter-spacing: 0.04em;
}
.input-wrapper .placeholder::before, .textarea-wrapper .placeholder::before {
  content: attr(data-placeholder);
  color: #8D8D8D;
}
.input-wrapper .required::after, .textarea-wrapper .required::after {
  content: "*";
  color: #C30000;
}

.input-wrapper input:focus + .placeholder {
  display: none;
}

.textarea-wrapper textarea:focus + .placeholder {
  display: none;
}

.textarea-wrapper {
  position: relative;
}
.textarea-wrapper img {
  position: absolute;
  left: 0.2rem;
  top: 5rem;
}

.footer {
  background-color: #2C2C2C;
}
.footer__main-container {
  font-size: 0.85rem;
  color: #FFFFFF;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  font-weight: 500;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}
.footer__main-container .footer__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 content;
          flex: 0 1 content;
}
.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__copyright-container {
  margin: 1.5rem auto;
}
.footer__copyright-container p {
  font-size: 0.75rem;
  text-align: center;
  color: #8D8D8D;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer__block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.social-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.address__link {
  position: relative;
  padding-left: 2rem;
}
.address__link::before {
  position: absolute;
  left: 0;
}

.footer__location::before {
  content: url(../../images/map-point-icon.svg);
}

.footer__phone::before {
  content: url(../../images/phone-icon.svg);
}

.footer__email::before {
  content: url(../../images/email-icon.svg);
}/*# sourceMappingURL=main.css.map */