//container

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    margin-bottom: 5rem;

}
//buttons
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 14rem;
    width: 100%;
    padding: 1.8rem 0;
    font-size: $small-text;
    letter-spacing: 0.2em;
    background-color: $color-primary;
    text-transform: uppercase;
    img {
        margin-left: 0.8rem;
    }
}

.btn--dark {
    color: $color-primary;
    background-color: $bg-color-dark;
}

//title

.title {
    font-size: $large-text;
    font-weight: 300;
    color: $title-color;
}





