.company__container {
    position: relative;
    background-color: $bg-color-light;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
}

.company__img-block {
    display: flex;
    margin-left: 4em;
    gap: 2em;
    .first-block {
        display: flex;
        flex-direction: column;
        gap: 2em;
        
        .img-block:last-child {
            position: absolute;
            bottom: -2em;
        }
    }
    .second-block {
        margin-top: 2em;
    }
    
}

.company__text {
    font-weight: 300;
    line-height: 1.56;
    margin: 20px 0;
}