.contacts__content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 2em;
    gap: 2rem;
    @include responsive(tablet-land) {
       display: block;
       width: 80%;
    }
    @include responsive(small-tablet) {
        width: 100%;
    }
    .img-block {
        img {
            width: 100%;
            object-fit: contain;
        }
        @include responsive(tablet-land) {
            display: none;
        }
    }
}
.contacts__form {
    display: flex;
    
    flex-direction: column;
    gap: 0.8rem;
    p {
        padding-left: 2rem;
        //font-size: $form-footer-text;
        letter-spacing: 0.03em;
    }
}

.input-wrapper, .textarea-wrapper {
    display: inline-block;
    position: relative;
    input {
        height: 3rem;
        padding: 0 1.5rem ;
    }
    
    textarea {
        position: relative;
        padding: 1rem 1.5rem;
        height: 147px;
    }
    input, textarea {
        width: 100%;
        background-color: $bg-color-grey;
        border: none;
        //font-size: $form-footer-text;
        letter-spacing: 0.04em;
        color: $text-color-grey;
    
    }    
    .placeholder {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        z-index:10;
        //font-size: $form-footer-text;
        letter-spacing: 0.04em;
    }
    .placeholder::before {
        content: attr(data-placeholder);
        color: $text-color-grey;
    }
    .required::after {
        content: "*";
        color: $color-red;
    }
}
.input-wrapper input:focus + .placeholder {
    display: none;
}

.textarea-wrapper textarea:focus + .placeholder {
    display: none;
}
.textarea-wrapper {
    position: relative;
    img {
        position: absolute;
        left: 0.2rem;
        top: 5rem;
    }
}