.footer {
    background-color: $bg-color-dark;
    &__main-container {
        font-size: $form-footer-text;
        color: $color-primary;
        margin: 5rem auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        font-weight: 500;
        line-height: 1.71429;
        letter-spacing: 0.03em;
        @include responsive(tablet-port) {
            flex-direction: column;
            font-size: $main-text;
        }
        .footer__block {
            flex: 0 1 auto;
        } 
    }
    &__copyright{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    &__copyright-container {
        margin: 1.5rem auto;
        p {
            text-align: center;
            color: $text-color-grey;
        }
    }
}

.footer__title {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer__option-title {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    @include responsive(tablet-port) {
        cursor: pointer;
        margin-bottom: 0;
    }
    img {
        display: none;
        @include responsive(tablet-port) {
            display: block;
        }
    }
}

.footer__block-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include responsive(tablet-port) {
        display: none;
    }
}

.open {
    display: flex;
    margin: 1rem 0 0 1rem;
}

.social-block__list {
    display: flex;
    gap: 2rem;
}

.address__link {
    position: relative;
    padding-left: 2rem;
    &::before{
        position: absolute;
        left: 0;
    }
}

.footer__location::before {
    content: url(/test-project/images/map-point-icon.svg);
}

.footer__phone::before {
    content: url(../images/phone-icon.svg);
}

.footer__email::before {
    content: url(../images/email-icon.svg);
}