.header {
    position: fixed;
    width: 100%;
    background-color: $color-primary;
    z-index: 5;
    height: 6em;
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
}

.menu {
    display: flex;
    max-width: 40rem;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 6rem;
    &__item--active {
        a {
            &::before {
                @include lines-psevdoelement;
            }
            &::after {
                @include lines-psevdoelement(1.4em);
            }
        }
       
    }
    a {
        position: relative;
        font-size: $small-text;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        
        &:hover::before,
        &:focus::before{
            @include lines-psevdoelement;
        }
        &:hover::after,
        &:focus::after {
            @include lines-psevdoelement(1.4em);
        }
        
    }

}
