.hero {  
    margin-top: 6rem;
    height: 100%;
    &__container {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        @include responsive(small-laptop) {
            justify-content: space-around;
            width: 100%;
        }
        @include responsive(phone) {
            flex-direction: column;
            padding-top: 1em;
        }
    }
    .hero__first-block {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-self: flex-end;

        margin-bottom: 10%;
        @include responsive(phone) {
            align-self: flex-start;
            gap: 1rem;
            margin: 0;        }
    }
    .hero__second-block {
        position: relative;
        flex: 0 1 content;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        @include responsive(small-laptop) {
            max-height: 85vh;
            height: 100%;
            width: 100%;
        }
        .img-block img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            @include responsive(small-laptop) {
                max-height: 85vh;
                height:100%;
                width: 100%;
            }
        }
        a {
            position: absolute;
            bottom: 0;
            left: 0;
            
        }
    }
}

.hero__title {
    max-width: 300px;
    width: 100%;
    text-transform: uppercase;
    span {
        font-weight: 700;
        color: $text-color-primary;
    }
}

.slider-block {
    display: flex;
    flex-direction: column;
    gap: 3em;
    @include responsive(phone) {
        flex-direction: row;
        align-items: center;
    }
}

.hero__btns {
    display: flex;
    button {
        padding: 1rem;
        border: 1px solid $bg-color-grey;
        &:first-child {
            margin-right: 1rem;
        }
        &:disabled {
            background-color: $bg-color-grey;
            opacity: 0.5;
            cursor: auto;
        }
        &:not([disabled]):hover {
            color: $color-primary;
            background-color: $bg-color-dark;
            transition: all 0.5s ease;
            svg {
                path {
                    fill: $color-primary;
                    transition: all 0.5s ease;
                    
                }
            }
        }
    }
}

.slides {
    position: relative;
    display: flex;
    gap: 4rem;
    li {
        font-size: $middle-text;
        color: $title-color;
    }
    &__current::after {
        content: '';
        position: absolute;
        display: block;
        background-color: $title-color;
        width: 2rem;
        height: 1px;
        top: 45%;
        left: 2.5rem;
        transform: rotate(135deg);
    }
}