.projects__lists {
    margin: 4em 0 2em;
}

.projects__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    
    @include responsive(tablet-port) {
        flex-direction: column;
    }
    &:first-child {
        margin-bottom: 1.5rem;
    }
    &:last-child {
        @include responsive(tablet-port) {
            display: none;
        }
    }
}

.projects__item {
    position: relative;
    .img-block {
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .hover-block {
        display: none;
        position: absolute;
        top: 0;
        padding: 2rem 8%;
        background-color: $bg-color-dark;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        h3 {
            font-size: 3rem;
            font-weight: 700;
            color: $color-primary;
            margin-bottom: 0.2rem;
            @include responsive(tablet-land) {
                font-size: 2.5rem;
            }

        }
        a {
            justify-content: flex-start;
            background-color: transparent;
            color: $color-primary;
            max-width: 8rem;
            padding:0.5rem 0 0.2rem;
            &:hover,
            &:focus {
                
                border-bottom: 1px solid white;
                
            }
            
            

        }
    }
    &:hover {
        .hover-block {
            display: block;
        }
    }
}

.projects__link-block {
    display: flex;
    justify-content: flex-end;
}  
