.tasks__list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
    margin-top: 2.5rem;
    align-items: flex-start;
    li {
        display: flex;
        align-items: center;
        gap: 2rem;
        &:first-child {
            flex: 0 1 35%;
        }
        &:last-child {
            flex: 0 1 50%;
        }
        .tasks__number {
            padding: 0;
            font-family: 'SF Pro Display', sans-serif;
            font-size: $numbers-text;
            font-weight: 900;
            color: $bg-color-grey;
            height: 100%;
           
            
        }
        .text {
            font-size: $middle-text;
            line-height: 1.6;
        }
    }
}