@mixin lines-psevdoelement($top, $width: 0) {
    content: '';
    position: absolute;
    display: block;
    background-color: $text-color-primary;
    width: $width;
    height: 1px;
    top: $top;
    transition: width 0.5s ease;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == small-laptop {
    @media screen and (max-height: 865px) {
      @content;
    }
  } @else if $breakpoint == tablet-land {
    @media screen and (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == tablet-port {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == small-tablet {
    @media screen and (max-width: 650px) {
      @content;
    }
  } @else if $breakpoint == phone {
    @media screen and (max-width: 480px) {
      @content;
    }
  } 
}