//colors

$color-primary: #FFFFFF;
$bg-color-dark: #2C2C2C;
$bg-color-light: #FBFBFB;
$bg-color-grey: #F3F3F3;
$title-color: #BDBDBD;
$text-color-grey: #8D8D8D;
$text-color-primary: #000000;

//font-size

$main-text: 1em;
$small-text: 0.75em;
$middle-text: 1.35em;
$large-text: 4em;
$form-text: 0.85em;
$numbers-text: 12.5em;